certifi
chardet
click
colorama
dominate
Flask
Flask-Bootstrap
future
httplib2
idna
itsdangerous
Jinja2>=2.10.1
jupyter-echarts-pypkg
lml
logzero
MarkupSafe
mysql-connector-python
Pillow
protobuf
pyecharts
pyecharts-javascripthon
pyecharts-jupyter-installer
pytest
pytest-html
requests>=2.20.0
retrying
selenium
six
urllib3>=1.24.2
visitor
Werkzeug
uiautomator2
